<div class="contact-form">

<h3>Get in touch!</h3>
<p>Shoot us a message here, or get in touch directly at: liberationphilly@disroot.org.</p>

      <form action="https://formspree.io/liberationphilly@disroot.org" method="POST">
        <label for="fname">First Name</label>
        <input type="text" id="fname" name="firstname" placeholder="Your name">

        <label for="lname">Last Name</label>
        <input type="text" id="lname" name="lastname" placeholder="Your last name">

        <label for="lname">Email</label>
        <input type="email" id="email" name="email" placeholder="Your email">

        <label for="subject">Subject</label>
        <textarea id="subject" name="subject" placeholder="Write something" rows="12"></textarea>

        <input type="submit" value="Send">

      </form>
    </div>
