<div class="info-section">
  <h2>{{ self.headline }}</h2>
  <div class="info-body">{{ self.body }}</div>
  {% if self.call_to_action_target.url %}
    <a href="{{ self.call_to_action_target.url }}" class="call-to-action-button">
      <h3>{{ self.call_to_action_text }}</h3>
    </a>
  {% endif %}
</div>
