<div>

  {% load wagtailimages_tags %}

  <div class="press-card">
    {% image self.image fill-350x150 as image %}
    <img class="press-pic" src="{{ image.url }}">
    <h4>{{ self.headline }}</h4>
    <p>{{ self.published }}</p>
    <p>{{ self.snippet }}<p>
    <h3><a href="{{ self.url }}" class="call-to-action-button" target="_blank">Read More</a></h3>
  </div>

</div>
