<div>
  <h3>Upcoming Events</h3>

  {% load wagtailimages_tags %}
  {% load liberation_events %}

  {% filtered_events self as events %}
  {% for event in events %}

  <div class="sidebar-event">
    {% image event.image fill-200x100 as image %}
    <img class="event-pic" src="{{ image.url }}">
    <h4>{{ event.title }}</h4>
    <ul>
      <li>{% format_dates start=event.start_time end=event.end_time multiline="true" %}</li>
      <li>{{ event.address_title }}</li>
    </ul>
    <a href="{{ event.url }}" class="signup-button" id="event1">
      <h3>View details</h3>
    </a>
  </div>
  {% endfor %}

  {% if not events %}
  <div class="sidebar-event">
    <h4>Sorry, no upcoming events! Check back soon!</h4>
  </div>
  {% endif %}
</div>
