{% load wagtailimages_tags %}

<div class="sidebar-cta">
  {% image self.image fill-250x200 as image %}
  <img class="cta-pic" src="{{ image.url }}">
  <h3>{{ self.headline }}</h3>
  <div>{{ self.body }}</div>
  {% if self.call_to_action_target %}
    <a href="{{ self.call_to_action_target }}" class="call-to-action-button">
      <h3>{{ self.call_to_action_text }}</h3>
    </a>
  {% endif %}
</div>
