{% extends "core/base.html" %}

{% load wagtailcore_tags %}

{% load wagtailimages_tags %}


{% block title %}
  <div class"logo-word">{{  page.page_title }}</div>
{% endblock %}

{% block content %}

<div class="home-content">
  <div class="all-content">

    <div class="primary-content">
      <div class="press-page">
        <h3>Recent Press</h3>

        <div class="press-cards">
          {% include_block page.body %}
        </div>
        </div>

      </div>

      {% if page.sidebar %}
        <div class="sidebar">
          {% include_block page.sidebar %}
        </div>
      {% endif %}

    </div>

  </div>

{% endblock %}
