{% extends "core/base.html" %}

{% load wagtailcore_tags %}
{% load liberation_events %}

{% load wagtailimages_tags %}


{% block title %}
  <div class"logo-word">{{  page.page_title }}</div>
{% endblock %}

{% block content %}

<div class="home-content">
  <div class="all-content">

    <div class="primary-content">
      <div class="event-page">

        {% upcoming_events as events %}
        {% if events %}

        <div class="filter-section">
          <h3>Filter by:</h3>
          <ul class="filter-buttons">
            <li onclick="clearFilters()" class="filter button">All</li>
            <li onclick="filterEvents('.vigil', this)" class="filter button">Vigil</li>
            <li onclick="filterEvents('.cube', this)" class="filter button">Cubes</li>
            <li onclick="filterEvents('.protest', this)" class="filter button">Protest</li>
            <li onclick="filterEvents('.training', this)" class="filter button">Educational</li>
          </ul>
        </div>


        <div class="event-cards">
          {% for event in events %}
            <div class="event-card {% for tag in event.tags.all %}{{ tag.slug }} {% endfor %}">
              {% image event.image fill-350x200 as image %}
              <img class="event-pic" src="{{ image.url }}">
              <h3>{{ event.title }}</h3>
              <h4>{{ event.start_time }}</h4>
              <p>{{ event.address|safe }}</p>
              <a href="{{ event.url }}" class="call-to-action-button">
                <h3>Learn More</h3>
              </a>
            </div>
          {% endfor %}
        </div>

        {% endif %}

        {% if not events %}
          <h4>Sorry, no upcoming events have been posted! Check back soon, or try visiting our <a href="htts://facebook.com/liberationphilly" target="_blank">Facebook</a>!</h4>
        {% endif %}

        {% include "core/blocks/subscribe_form.html" %}

      </div>
    </div>

  </div>
</div>

{% endblock %}
