{% extends "core/base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load liberation_events %}


{% block title %}
  <div class"logo-word">{{  self.title }}</div>
{% endblock %}

{% block content %}

<div class="event-page-columns">
  <div class="event-page-column" id="image-cta">
    {% image self.image fill-300x300 as image %}
    <img class="event-page-pic" src="{{ image.url }}">
    <a href="{{ self.link }}" class="call-to-action-button">
      <h3>RSVP on Facebook</h3>
    </a>
  </div>
  <div class="event-page-column">
    <h2>{{ self.title }}</h2>
    <div class="event-page-details date">
      <h4>Date:</h4>
      <p>{{ self.start_time }} - {{ self.end_time }}</p>
    </div>
    <div class="event-page-details location">
      <h4>Location:</h4>
      <p>{{ self.address|safe }}</p>
    </div>
    <div class="event-page-details description">
      <h4>Description:</h4>
      <p>{{ self.description|safe }}</p>
    </div>
    {% include "core/blocks/subscribe_form.html" %}

  </div>
</div>



{% endblock %}
