{% extends "core/base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load liberation_events %}


{% block title %}
<div class"logo-word">{{  page.title_left }}</div>
{% image page.title_logo original as image %}
<div class="logo" style="background-image: url({{ image.url }})"></div>
<div class"logo-word">{{ page.title_right }}</div>
{% endblock %}


{% block content %}
<div class="home-content">
  <div class="home-events-and-text">

    {% home_events as events %}
    {% if events %}

      <div id="calendar-head">
        <h2 id="event-header">Upcoming Events</h2>
        <a href="/events" class="view-more">
          <h3>View all</h3>
        </a>
      </div>


      <div class="upcoming-events">

        <div class="all-events">
          {% for event in events %}
            <div class="event">
              <div class="{{ event.icon }} icon"></div>
              <div class="event-details">
                <h3>{{ event.title }}</h3>
                <h4>{% format_dates start=event.start_time end=event.end_time multiline="true" %}</h4>
                <a href="{{ event.url }}" target="_blank" class="signup-button">
                  <h3>View details</h3>
                </a>
              </div>
            </div>
          {% endfor %}
        </div>
        {% include "core/blocks/subscribe_form.html" %}

      </div>

    {% endif %}

    {% include_block page.body %}


  </div>
</div>
{% endblock %}
