html {
  min-width: 300px;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #111;
  margin: 0px;
  padding: 0px;
  font-size: 20px;
  background-color: #F8F8F8;
}

@media (max-width: 704px) {
  body p {
    font-size: 16px;
  }
}


/* ------ PAGE STRUCTURE ------ */

.content {
  padding-left: 20px;
}


.all-content {
  display: flex;
}

@media (max-width: 750px) {
  .all-content {
    display: inline-block;
  }
}

.primary-content {
  flex: 3;
  margin-top: 80px;
}

.sidebar {
  flex: 1;
  margin-left:30px;
  padding: 80px 0px;
  background-color: #f2f2f2;
  border-left: 2px solid #D3D3D3;
  width: 100%;
}

@media (max-width: 750px) {
  .sidebar {
    display: none;
  }
}


/* ------ BASIC ELEMENTS ------ */

h1, h2 {
  font-family: 'Viga', sans-serif;
  letter-spacing: 2px;
}

h1 {
  text-transform: uppercase;
  font-size: 4vw;
  text-align: left;
}

h2 {
  font-size: 5vw;
  text-transform: uppercase;
  margin-top: 70px;
}

@media (max-width: 704px) {
  h2 {
    margin-top: 20px;
    font-size: 24px;
  }
}

a.active {
  color: #143ff4;
  transition: .4s;
}

a:hover {
  color: #143ff4;
  transition: .4s;
}


/* ------ HEADER (NAV AND BANNER) ------ */

.header {
  width: 100%;
  height: 425px;
  margin: 0px;
  padding: 0px;
  top: 0px;
}

@media (max-width: 704px) {
  .header {
    height: 150px;
  }
}

nav {
  width: 100%;
  height: 50px;
  background-color: #143ff4;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  top: 0px;
  margin: 0px 50px;
  padding: 0px;
  width: 100%;
  font-family: 'Viga', sans-serif;
  font-size: 1.75vw;
}

@media (max-width: 704px) {
  nav ul {
    font-size: 12px;
    align-items: center;
  }
}

nav a {
  color: white;
  text-decoration: none;
  height: auto;
  width: auto;
  padding: 10px 20px;
}

nav li {
  margin: 15px auto;
}

ul.dropdown {
  display: none;
  position: absolute;
  top: 50px;
  margin-left: 5px;
  z-index: 999;
  background-color: #143ff4;
  color: white;
  width: auto;
  font-size: 16px;
}

nav a:hover,
nav a.active {
  background-color: #143ff4;
  color: yellow;
}

nav li:hover .dropdown {
   display:block;
}

@media (max-width: 704px) {
  nav {
    display: flex;
    position: fixed;
    bottom: 0;
    z-index: 50;
    left: 0;
    right: 0;
    font-size: 14px;
    background: #143ff4;
    margin-bottom: 0;
    width: 100%;
    overflow-x: scroll;
  }
  body {
    /* Make room to scroll all the way down with the nav overlaid */
    margin-bottom: 50px;
  }
}

@media (max-width: 704px) {
  nav a {
    display: block;
    width: 100%;
    padding: 20px 7px;
  }
}

.social-icons {
  margin: 20px 0;
}

nav .social-icons {
  margin: 0px;
  padding-top: 5px;
}

.social-icons a {
  padding: 0;
  display: inline-block;
}

.social-icons a:hover {
  background: transparent;
  color: #FFFF00;
}

.social-icons a i {
  font-size: 50px;
  padding: 4px;
}

nav .social-icons a i {
  font-size: 30px;
  padding: 4px;
}

@media (max-width: 704px) {
  nav .social-icons {
    display: none;
  }

  .pagebanner {
    display: block;
    text-align: center;
  }
}

.banner {
  background-image: url(/static/images/header-img3.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 375px;
  position: relative;
  display: flex;
}

@media (max-width: 704px) {
  .banner {
    height: 150px;
  }
}

.text-logo {
  width: 100%;
  height: 350px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Viga', sans-serif;
  letter-spacing: 2px;
  color: white;
  text-transform: uppercase;
  font-size: 5vw;
  z-index: 25;
  text-shadow: 2px 2px #111;
}

@media (max-width: 704px) {
  .text-logo {
    height: 150px;
  }
}

.logo-word {
  width: 30%;
}

.banner::after {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
  background-color: rgba(0,0,0,0.5);
}

.logo {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 10%;
  height:40%;
  margin: 0px -5px 0px 10px;
  z-index: 1;
  position: relative;
}


/* ------ HOME PAGE TYPE ------ */

.home-content {
padding-left: 20px;
}

@media (max-width: 704px) {
  .home-content {
    padding: 10px;
    width: 90%
  }
}

.home-events-and-text {
  width: 100%;
  max-width: 1000px;
  min-height: 600px;
  margin: 0 auto;
}

@media (max-width: 704px) {
  .home-events-and-text {
  }
}

#calendar-head {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.icon {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: .40;
  width: 20%;
  height: 15vw;
  margin: 15px;
  margin-right: -12px;
}

.cube.icon {
  background-image: url(/static/images/icons/anonymous.svg);
}

.calendar.icon {
  background-image: url(/static/images/icons/calendar.svg);
}

.protest.icon {
  background-image: url(/static/images/icons/protest.svg);
}

.save.icon {
  background-image: url(/static/images/icons/save.svg);
}

.social.icon {
  background-image: url(/static/images/icons/social.svg);
}

.training.icon {
  background-image: url(/static/images/icons/training.svg);
}

@media (max-width: 704px) {
  .icon {
    display: none;
  }
}

@media (max-width: 800px) {
  .icon {
    display: none;
  }
}

.view-more {
  background-color: #143ff4;
  color: white;
  width: auto;
  margin: 30px 20px 0px 40px;
  padding: 4px 20px;
  text-decoration: none;
  display: inline;
  border-radius: 4px;
  border-color: #143ff4;
  border-style: solid;
}

@media (max-width: 704px) {
  .view-more {
    width: auto;
    display: block;
    text-align: center;
    background-color: #143ff4;
    color: white;
    margin: 10px;
    border-radius: 4px;
    margin: 15px auto;
    padding: 5px;
    text-decoration: none;
    border-color: #143ff4;
    border-style: solid;
    text-transform: uppercase;
  }
}

@media (max-width: 980px) and (min-width: 705px)and (min-width: 705px){
  .view-more {
    text-align: center;
  }
}

.view-more:hover {
  color: #143ff4;
  background-color: white;
  border-radius: 4px;
}

.view-more h3 {
  margin: 0px auto;
  font-size: 16px;
}

@media (max-width: 704px) {
  .view-more h3 {
    font-size: 11px;
  }
}


/* ------ EVENT INDEX PAGE TYPE ------ */

.upcoming-events {
  background-color: #F8F8F8;
  width: 95%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 150px;
}

@media (max-width: 704px) {
  .upcoming-events {
    display: block;
    text-align: left;
    padding: 5px;
    margin-bottom: 50px;
  }
}

@media (max-width: 1000px) and (min-width: 705px){
  .upcoming-events {
    width: 100%;
  }
}

.filter-section{
  margin-top: -50px;
  margin-bottom: 50px;
}

.filter-section h3 {
  display: inline-block;
}

.event-card.inactive {
  display: none;
}

ul.filter-buttons {
  display: inline-flex;
  justify-content: flex-start;
  padding-left: 0px;
}

li.filter.button {
  cursor: pointer;
  color: white;
  background-color: #143ff4;
  font-size: 12px;
  width: auto;
  padding: 2px 10px 2px;
  margin: 0px 5px;
  text-decoration: none;
  border-radius: 4px;
  border-color: #143ff4;
  border-style: solid;
  cursor: pointer;
  display: block;
}

li.filter.button:hover {
  color: #143ff4;
  background-color: white;
  border-radius: 4px;
}

li.filter.button.active {
  color: #143ff4;
  background-color: white;
}

.all-events {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

@media (max-width: 704px) {
  .all-events {
    flex-wrap: nowrap;
    flex-direction: column;
  }
}

.event {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-left: 20px;
  border: 2px solid #D3D3D3;
  margin: 0px;
}

@media (max-width: 704px) {
  .event {
    margin: 0px;
    width: 300px;
    display: block;
    text-align: left;
  }
}

@media (max-width: 980px) and (min-width: 705px){
  .event {
    padding-left: 25px;
    height: 175px;
  }
}

.event-details {
  width: 390px;
  height: 110px;
  margin: 10px;
  padding-right: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: -10px;
}

@media (max-width: 704px) {
  .event-details {
    margin-bottom: 10px;
    width: inherit;
    padding: 0;
    display: block;
    height: auto;
    text-align: left;
  }
}

@media (max-width: 980px) and (min-width: 705px){
  .event-details {
    width: 265px;
  }
}

.event h3,h4 {
  margin: 0px;
}

@media (max-width: 980px) and (min-width: 705px){
  .event h3 {
    font-size: 20px;
  }
}

@media (max-width: 980px) and (min-width: 705px){
  .event h4 {
    font-size: 16px;
  }
}

.event-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 50px;
}

.event-card {
  width: 350px;
  background-color: white;
  border: 2px solid gray;
  border-radius: 5px;
  padding: 10px;
  padding-bottom: 70px;
  margin: 10px;
  box-shadow: 1px 1px lightgray;
  position: relative;
}

@media (max-width: 600px) {
  .event-card {
    margin: 0px;
    margin-top: -20px;
    margin-bottom: 50px;
  }
}

.event-card img.event-pic {
  margin: 0px 1px 0px 1px;
}
.event-card p {
  margin: 0px
}

.event-card .call-to-action-button h3 {
  font-size: 14px;
}

.event-card .call-to-action-button {
  position: absolute;
  bottom: 5px;
  right: 20px;
}


/*------ EVENT PAGE TYPE ------*/

.event-page-columns {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  margin-bottom: 50px;
  margin-right: 20px;
}


@media (max-width: 600px) {
  .event-page-columns {
    flex-direction: column-reverse;
  }
}

.event-page-columns h2 {
  max-width: 600px;
}

.event-page-column h4 {
  margin: 10px 0px;
}

.event-page-details {
  margin-bottom: 25px;
}

.event-page-details.location p {
  margin: 0px;
}

img.event-page-pic {
  border-style: solid;
  border-width: 10px;
  border-color: #F9F9F9;
  -ms-transform: rotate(-7deg); /* IE 9 */
  -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
  transform: rotate(-7deg);
  margin-right: 0px;
  box-shadow: -2px 2px 2px #919191
}

@media (max-width: 600px) {
  img.event-page-pic {
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
  }
}

.event-page-column .call-to-action-button h3{
  font-size: 16px;
}

.event-page-column .call-to-action-button {
  width: 70%;
  margin: 50px auto;
}

/*------ CONTACT PAGE TYPE ------*/

div.contact-form {
  display: block;
  width: 50%;
  margin: 0 auto;
  padding-bottom: 50px;
}

 div.contact-form {
  text-align: left;
}

.contact-form input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.contact-form input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

.contact-form input[type=submit] {
  background-color: white;
  color: #143ff4;
  border: 2px #143ff4 solid;
  border-radius: 6px;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

.contact-form input[type=submit]:hover {
  color: white;
  background-color: #143ff4;
  border: 2px white solid;
}

textarea {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}


/*  Contact Mobile */

@media (max-width: 600px) {

  div.contact-form {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 50px;
  }

}


/*------ INFO SECTION BLOCK ------*/

.info-section {
  margin-bottom: 150px;
}

@media (max-width: 704px) {
  .info-section {
    margin-bottom: 50px;
  }
}

.info-section:last-of-type {
  margin-bottom: 50px;
}

@media (max-width: 704px) {
  .info-section:last-of-type {
    margin-bottom: 20px;
  }
}


.info-section .info-body {
  margin-left: 100px;
  margin-bottom: 20px;
  max-width: 1000px;
}

@media (max-width: 704px) {
  .info-section .info-body {
    margin-left: 0px;
    font-size: 18px;
  }
}

@media (max-width: 705px) {
  .info-section img {
    margin: 0px auto;
    width: 90%;
    height: auto;
  }
}

.call-to-action-button {
  display: block;
  text-align: center;
  background-color: #143ff4;
  color: white;
  border-radius: 4px;
  margin: 30px 10px 15px auto;
  padding: 3px;
  text-decoration: none;
  width: 40%;
  border-radius: 4px;
  border-color: #143ff4;
  border-style: solid;
}

@media (max-width: 704px) {
.call-to-action-button {
  width: 70%;
  }
}

.call-to-action-button h3 {
  margin: 0px auto;
  padding: 2px;
  font-size: 2vw;
  text-transform: uppercase;
}

@media (max-width: 704px) {
.call-to-action-button h3 {
  font-size: 16px;
  }
}

.call-to-action-button:hover {
  color: #143ff4;
  background-color: white;
  border-radius: 4px;
  border-color: #143ff4;
  border-style: solid;
}

/* ------ SIDEBAR CTA ------ */

.sidebar-cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 60px;
}

img.cta-pic {
  margin: 0px auto;
}

.sidebar-cta p {
  text-align: center;
  margin-top: 10px;
  padding: 10px;
  font-size: 14px;
}

.sidebar-cta .call-to-action-button {
  margin: 0px auto;
  width: auto;
}

/* ------ SIDEBAR BLOCK ------ */

.sidebar h3 {
  margin: 10px;
  text-align: center;
  text-transform: uppercase;
}

.sidebar-event {
  margin: 40px 20px 60px;
  text-align: center;
}

.sidebar-event img {
  width: 250px;
}

.sidebar-event h4 {
  text-transform: uppercase;
}

.sidebar-event ul {
  list-style: none;
  text-align: left;
  padding: 0px 20px;
}

.signup-button {
  color: white;
  background-color: #143ff4;
  width: 30%;
  margin: 20px;
  padding: 2px 20px 6px;
  text-decoration: none;
  border-radius: 4px;
  border-color: #143ff4;
  border-style: solid;
  cursor: pointer;
  display: block;
}

.sidebar-event .signup-button {
  width: 50%;
  margin: 0 auto;
}

.signup-button h3 {
  font-size: 14px;
}

@media (max-width: 704px) {
  .signup-button {
    margin: 0px;
    margin-top: 20px;

    font-size: 14px;
    width: 150px;
    text-align: center;
  }
}

@media (max-width: 980px) and (min-width: 705px){
  .signup-button h3 {
    font-size: 12px;
    text-align: center;
  }
}

.signup-button:hover,
.signup-button.active {
  color: #143ff4;
  background-color: white;
  border-radius: 4px;
}


/* ------ POLAROIDS BLOCK ------ */

.photo-group {
  display: flex;
  wrap: wrap;
  margin-top: 20px;
  margin-bottom: 100px;
  padding-left: 20px;
}

img.polaroid {
  border-style: solid;
  border-width: 10px;
  border-color: #F9F9F9;
  -ms-transform: rotate(-7deg); /* IE 9 */
  -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
  transform: rotate(-7deg);
  margin-right: 0px;
  width: 15vw;
  height: 15vw;
  box-shadow: -2px 2px 2px #919191
}

@media (max-width: 705px) {
  .polaroid {
    display: none;
  }
}

.photo-group img.polaroid:nth-child(even) {
  -ms-transform: rotate(7deg); /* IE 9 */
  -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
  transform: rotate(7deg);
  margin-top: 10px;
  box-shadow: 2px 2px 2px #919191
}


/*------ FEATURED IMAGE BLOCK ------*/

.block-featuredimage {
  margin: 0px auto;
  text-align: center;
}

.block-featuredimage img {
  margin: 0px auto;
  width: 800px;
  height: auto;
}

@media (max-width: 705px) {
  .block-featuredimage img {
    margin: 0px auto;
    width: 90%;
    height: auto;
  }
}


/*------ EMAIL SUBSCRIBE FORM ------*/

.email-subscribe-form {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 100px;
  position: relative;
}

input.email {
    padding: 12px 20px;
    font-size: 16px;
    width: 400px;
}

@media (max-width: 704px) {
  input.email {
      width: 80%;
      margin-bottom: 10px;
  }
}

.subscribe-form label {
  display: none;
}

.email-subscribe-button {
  width: auto;
  display: inline-block;
  text-align: center;
  background-color: #143ff4;
  color: white;
  border-radius: 4px;
  margin: 0px 10px;
  padding: 10px;
  text-decoration: none;
  border-color: #143ff4;
  border-style: solid;
  cursor: pointer;
  font-size: 18px;
}

@media (max-width: 704px) {
  .email-subscribe-button {
    width: 100%;
  }
}

.email-subscribe-button:hover {
  color: #143ff4;
  background-color: white;
  border-radius: 4px;
}

.email-subscribe-form .response {
  position: absolute;
  padding-top: 10px;
  bottom: -50px;
  left: 0px;
  width: 100%;
  font-size: 14px;
}

/* ------ DONATE ------ */

.donate-section {
  margin-bottom: 25px;
  margin-left: 10px;
}

.primary-content .donate-section {
  text-align: center;
}


/* ------ Press Block ------ */


.press-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 50px;
}

.press-card {
  width: 350px;
  height: 350px;
  background-color: white;
  border: 2px solid gray;
  border-radius: 5px;
  padding: 10px;
  padding-bottom: 70px;
  margin: 10px;
  box-shadow: 1px 1px lightgray;
  position: relative;
}

@media (max-width: 600px) {
  .press-card {
    margin: 0px;
    margin-top: -20px;
    margin-bottom: 50px;
  }
}

.press-card img.event-pic {
  margin: 0px 1px 0px 1px;
}
.press-card p {
  margin: 0px;
  margin-top: 10px;
  font-size: 12px;
}

.press-card .call-to-action-button h3 {
  font-size: 14px;
}

@media (max-width: 600px) {
  .press-card .call-to-action-button {
    width: 40%;
    font-size: 14px;
  }
}

.press-card .call-to-action-button {
  position: absolute;
  bottom: 5px;
  right: 20px;
}



/* ------ FOOTER ------ */

footer {
  width: 100%;
  padding-bottom: 20px;
  background-color: #143ff4;
  color: white;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  font-size: 12px;
}

@media (max-width: 704px) {
  footer p {
    font-size: 10px;
  }
}

footer a {
  color: white;
}

footer a:hover,
footer a.active {
  color: #FFFF00;
}

.footer-tag {
  font-family: 'Viga', sans-serif;
  letter-spacing: 2px;
  font-size: 3vw;
  text-transform: uppercase;
  margin-bottom: 0px;
  margin: -25px auto;
}

.footer-tag h2 {
  margin: 20px auto 50px;
  font-size: 4vw;
}

.social-icons a {
  text-decoration: none;
}
