{% extends "core/base.html" %}

{% load wagtailcore_tags %}
{% load liberation_events %}


{% block title %}
  <div class"logo-word">{{  page.page_title }}</div>
{% endblock %}

{% block content %}

<div class="home-content">
  <div class="all-content">

    <div class="primary-content">
      {% include_block page.body %}
    </div>

    {% if page.sidebar %}
      <div class="sidebar">
        {% include_block page.sidebar %}
      </div>
    {% endif %}

  </div>
</div>

{% endblock %}
