{% load static wagtailuserbar %}


<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
      <title>Liberation Philly</title>
      <!-- Meta -->
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
      <meta name="description" content="Animal liberation through non-violent direct action.">
      <!-- Open Graph protocol -->
      <meta property="og:title" content="Liberation Philadelphia">
      <meta property="og:type" content="website">
      <meta property="og:url" content="https://liberationphilly.org/">
      <meta property="og:image" content="https://liberation.org/static/images/header-img3.png">
      <meta property="og:description" content="Animal liberation through non-violent direct action.">
      <meta property="og:locale" content="en_US">

      <!-- Stylesheets -->
      <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Viga|Open+Sans:400,400italic,700,700italic">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.0/css/fork-awesome.min.css" integrity="sha256-sX8HLspqYoXVPetzJRE4wPhIhDBu2NB0kYpufzkQSms=" crossorigin="anonymous">
      <link rel="stylesheet" href="/static/style.css">
      {% block extra_css %}
          {# Override this in templates to add extra stylesheets #}
      {% endblock %}

      <!-- Favicons -->
      <link rel="apple-touch-icon" sizes="57x57" href="/static/images/favicons/apple-icon-57x57.png">
      <link rel="apple-touch-icon" sizes="60x60" href="/static/images/favicons/apple-icon-60x60.png">
      <link rel="apple-touch-icon" sizes="72x72" href="/static/images/favicons/apple-icon-72x72.png">
      <link rel="apple-touch-icon" sizes="76x76" href="/static/images/favicons/apple-icon-76x76.png">
      <link rel="apple-touch-icon" sizes="114x114" href="/static/images/favicons/apple-icon-114x114.png">
      <link rel="apple-touch-icon" sizes="120x120" href="/static/images/favicons/apple-icon-120x120.png">
      <link rel="apple-touch-icon" sizes="144x144" href="/static/images/favicons/apple-icon-144x144.png">
      <link rel="apple-touch-icon" sizes="152x152" href="/static/images/favicons/apple-icon-152x152.png">
      <link rel="apple-touch-icon" sizes="180x180" href="/static/images/favicons/apple-icon-180x180.png">
      <link rel="icon" type="image/png" sizes="192x192"  href="/static/images/favicons/android-icon-192x192.png">
      <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicons/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="96x96" href="/static/images/favicons/favicon-96x96.png">
      <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicons/favicon-16x16.png">
      <link rel="manifest" href="/static/images/favicons/manifest.json">
      <meta name="msapplication-TileColor" content="#ffffff">
      <meta name="msapplication-TileImage" content="/static/images/favicons/ms-icon-144x144.png">
      <meta name="theme-color" content="#ffffff">

    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

          <div id="dim-box"></div>

          <div class="header">
            <nav>
              <ul>

                <li>
                  <a href="{{ request.site.root_page.url }}">
                  Home
                  </a>
                </li>

                {% for item in request.site.root_page.get_children.live.in_menu %}
                  <li class="top-nav-item">
                    <a href="{{ item.url }}">
                    {{ item }}
                    </a>
                    {% if item.get_children.live.in_menu %}
                      <ul class="dropdown">
                      {% for child in item.get_children.live.in_menu %}
                        <li class="dropdown-child">
                          <a href="{{ child.url }}">{{ child }}</a>
                        </li>
                      {% endfor %}
                      </ul>
                    {% endif %}
                  </li>

                  {% endfor %}

                  <div class="social-icons">
                    <a href="https://www.facebook.com/liberationphilly/" target="_blank">
                      <i class="fa fa-facebook-square" aria-hidden="true"></i>
                    </a>
                    <a href="https://www.instagram.com/liberationphilly/" target="_blank">
                      <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                    <a href="https://twitter.com/liberationphila" target="_blank">
                      <i class="fa fa-twitter-square" aria-hidden="true"></i>
                    </a>
                    <a href="https://mstdn.io/@liberationphilly" target="_blank">
                      <i class="fa fa-mastodon-square" aria-hidden="true"></i>
                    </a>
                  </div>
                </li>
              </ul>
            </nav>

            <div class = "pagebanner">
              <div class="banner">
                <div class="text-logo">
                  {% block title %}{% endblock %}
                </div>
              </div>
            </div>

          </div>


          <div class="content">
            <div>
              {% block content %}{% endblock %}
            </div>
          </div>


          <!-- Footer text -->
          <footer>

            <!-- Social icons -->
            <div class="social-icons">
              <a href="https://www.facebook.com/liberationphilly/" target="_blank">
                <i class="fa fa-facebook-square" aria-hidden="true"></i>
              </a>
              <a href="https://www.instagram.com/liberationphilly/" target="_blank">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
              <a href="https://twitter.com/liberationphila" target="_blank">
                <i class="fa fa-twitter-square" aria-hidden="true"></i>
              </a>
              <a href="/contact">
                <i class="fa fa-envelope-square" aria-hidden="true"></i>
              </a>
              <a href="https://mstdn.io/@liberationphilly" target="_blank">
                <i class="fa fa-mastodon-square" aria-hidden="true"></i>
              </a>
              <a href="https://gitlab.com/liberationphilly/liberationphilly.org" target="_blank">
                <i class="fa fa-git-square" aria-hidden="true"></i>
              </a>
            </div>

            <!-- Tag line -->
            <div class="footer-tag">
              <h2>Animal Liberation Starts with&nbsp;You.</h2>
            </div>

            <div class="donate-section">
              <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="ZVY8WVQM4Y7UU">
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
              </form>
            </div>


              <!-- External links -->
            <div class="license">
              <p>This website is licensed under <a href="https://gitlab.com/liberationphilly/liberationphilly.org/blob/master/LICENSE" target="_blank">a free culture license.</a></p>
              <p>Calendar icon by: Chinnaking</p>
            </div>

            </div>
          </footer>

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/website.js' %}"></script>


        <!-- Scripts -->
        <script src="/static/main.js"></script>
        <!-- Google Analytics -->
        <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://google-analytics.com/analytics.js','ga');

        ga('create', 'UA-76207727-1', 'auto');
        ga('send', 'pageview');

        </script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
